body {
  background-color: black;
}

h1 {
  color: white;
}

.ball {
  --size: 100px;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  margin-inline: auto;
  background-color: blue;
}
